In [ ]:
import pandas as pd

# Replace 'file.xlsx' with the path to your Excel file
# df = pd.read_excel('purchase_2.xlsx')
df = pd.read_csv('purchase1.csv')



# Display the first 10 rows of the dataframe
print(df.head(10))

FileNotFoundError: [Errno 2] No such file or directory: 'purchase1.csv'

In [ ]:
df.dtypes

event_time        object
order_id         float64
product_id       float64
category_id      float64
category_code     object
brand             object
price            float64
user_id          float64
dtype: object

In [ ]:
pd.set_option('display.float_format', lambda x: '%.f' % x)

In [ ]:
print(df.head(5))

                event_time            order_id          product_id  \
0  2020-04-24 11:50:39 UTC 2294360000000000000 1515970000000000000
1  2020-04-24 11:50:39 UTC 2294360000000000000 1515970000000000000
2  2020-04-24 14:37:43 UTC 2294440000000000000 2273950000000000000
3  2020-04-24 14:37:43 UTC 2294440000000000000 2273950000000000000
4  2020-04-24 19:16:21 UTC 2294580000000000000 2273950000000000000

          category_id                category_code    brand  price  \
0 2268110000000000000           electronics.tablet  samsung    162
1 2268110000000000000           electronics.tablet  samsung    162
2 2268110000000000000  electronics.audio.headphone   huawei     78
3 2268110000000000000  electronics.audio.headphone   huawei     78
4 2268110000000000000                          NaN  karcher    218

              user_id
0 1515920000000000000
1 1515920000000000000
2 1515920000000000000
3 1515920000000000000
4 1515920000000000000

In [ ]:
df.drop_duplicates()

,event_time,order_id,product_id,category_id,category_code,brand,price,user_id
0,2020-04-24 11:50:39 UTC,2294360000000000000,1515970000000000000,2268110000000000000,electronics.tablet,samsung,162,1515920000000000000
2,2020-04-24 14:37:43 UTC,2294440000000000000,2273950000000000000,2268110000000000000,electronics.audio.headphone,huawei,78,1515920000000000000
4,2020-04-24 19:16:21 UTC,2294580000000000000,2273950000000000000,2268110000000000000,NaN,karcher,218,1515920000000000000
5,2020-04-26 08:45:57 UTC,2295720000000000000,1515970000000000000,2268110000000000000,furniture.kitchen.table,maestro,39,1515920000000000000
6,2020-04-26 09:33:47 UTC,2295740000000000000,1515970000000000000,2268110000000000000,electronics.smartphone,apple,1387,1515920000000000000
...,...,...,...,...,...,...,...,...
135734,2020-01-12 05:19:23 UTC,2348770000000000000,1515970000000000000,2268110000000000000,furniture.kitchen.table,tvs,44,NaN
135735,2020-01-12 07:39:54 UTC,2348770000000000000,2273950000000000000,2268110000000000000,NaN,NaN,5,NaN
135736,2020-01-11 06:19:11 UTC,2348770000000000000,1515970000000000000,2268110000000000000,appliances.kitchen.toster,philips,32,1515920000000000000
135737,2020-01-12 07:43:33 UTC,2348770000000000000,1515970000000000000,2268110000000000000,NaN,provence,9,NaN
135738,2020-01-12 0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df

,event_time,order_id,product_id,category_id,category_code,brand,price,user_id
0,2020-04-24 11:50:39 UTC,2294360000000000000,1515970000000000000,2268110000000000000,electronics.tablet,samsung,162,1515920000000000000
1,2020-04-24 11:50:39 UTC,2294360000000000000,1515970000000000000,2268110000000000000,electronics.tablet,samsung,162,1515920000000000000
2,2020-04-24 14:37:43 UTC,2294440000000000000,2273950000000000000,2268110000000000000,electronics.audio.headphone,huawei,78,1515920000000000000
3,2020-04-24 14:37:43 UTC,2294440000000000000,2273950000000000000,2268110000000000000,electronics.audio.headphone,huawei,78,1515920000000000000
4,2020-04-24 19:16:21 UTC,2294580000000000000,2273950000000000000,2268110000000000000,NaN,karcher,218,1515920000000000000
...,...,...,...,...,...,...,...,...
135734,2020-01-12 05:19:23 UTC,2348770000000000000,1515970000000000000,2268110000000000000,furniture.kitchen.table,tvs,44,NaN
135735,2020-01-12 07:39:54 UTC,2348770000000000000,2273950000000000000,2268110000000000000,NaN,NaN,5,NaN
135736,2020-01-11 06:19:11 UTC,2348770000000000000,1515970000000000000,2268110000000000000,appliances.kitchen.toster,philips,32,1515920000000000000
135737,2020-01-12 07:43:33 UTC,2348770000000000000,1515970000000000000,2268110000000000000,NaN,provence,9,NaN
135738,2020-01-12 0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.drop_duplicates(subset=['event_time','order_id'], keep=False)

,event_time,order_id,product_id,category_id,category_code,brand,price,user_id
4,2020-04-24 19:16:21 UTC,2294580000000000000,2273950000000000000,2268110000000000000,NaN,karcher,218,1515920000000000000
5,2020-04-26 08:45:57 UTC,2295720000000000000,1515970000000000000,2268110000000000000,furniture.kitchen.table,maestro,39,1515920000000000000
10,2020-04-26 14:55:26 UTC,2295900000000000000,2273950000000000000,2268110000000000000,appliances.kitchen.refrigerators,lg,463,1515920000000000000
11,2020-04-26 23:35:39 UTC,2296160000000000000,1515970000000000000,2268110000000000000,appliances.personal.scales,polaris,30,1515920000000000000
12,2020-04-27 07:24:51 UTC,2296400000000000000,2273950000000000000,2374500000000000000,electronics.video.tv,samsung,417,1515920000000000000
...,...,...,...,...,...,...,...,...
135734,2020-01-12 05:19:23 UTC,2348770000000000000,1515970000000000000,2268110000000000000,furniture.kitchen.table,tvs,44,NaN
135735,2020-01-12 07:39:54 UTC,2348770000000000000,2273950000000000000,2268110000000000000,NaN,NaN,5,NaN
135736,2020-01-11 06:19:11 UTC,2348770000000000000,1515970000000000000,2268110000000000000,appliances.kitchen.toster,philips,32,1515920000000000000
135737,2020-01-12 07:43:33 UTC,2348770000000000000,1515970000000000000,2268110000000000000,NaN,provence,9,NaN
135738,2020-01-12 0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.drop_duplicates(subset=['event_time','order_id'])

,event_time,order_id,product_id,category_id,category_code,brand,price,user_id
0,2020-04-24 11:50:39 UTC,2294360000000000000,1515970000000000000,2268110000000000000,electronics.tablet,samsung,162,1515920000000000000
2,2020-04-24 14:37:43 UTC,2294440000000000000,2273950000000000000,2268110000000000000,electronics.audio.headphone,huawei,78,1515920000000000000
4,2020-04-24 19:16:21 UTC,2294580000000000000,2273950000000000000,2268110000000000000,NaN,karcher,218,1515920000000000000
5,2020-04-26 08:45:57 UTC,2295720000000000000,1515970000000000000,2268110000000000000,furniture.kitchen.table,maestro,39,1515920000000000000
6,2020-04-26 09:33:47 UTC,2295740000000000000,1515970000000000000,2268110000000000000,electronics.smartphone,apple,1387,1515920000000000000
...,...,...,...,...,...,...,...,...
135734,2020-01-12 05:19:23 UTC,2348770000000000000,1515970000000000000,2268110000000000000,furniture.kitchen.table,tvs,44,NaN
135735,2020-01-12 07:39:54 UTC,2348770000000000000,2273950000000000000,2268110000000000000,NaN,NaN,5,NaN
135736,2020-01-11 06:19:11 UTC,2348770000000000000,1515970000000000000,2268110000000000000,appliances.kitchen.toster,philips,32,1515920000000000000
135737,2020-01-12 07:43:33 UTC,2348770000000000000,1515970000000000000,2268110000000000000,NaN,provence,9,NaN
135738,2020-01-12 0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.drop_duplicates(subset=['event_time','order_id'], keep=False)

,event_time,order_id,product_id,category_id,category_code,brand,price,user_id
4,2020-04-24 19:16:21 UTC,2294580000000000000,2273950000000000000,2268110000000000000,NaN,karcher,218,1515920000000000000
5,2020-04-26 08:45:57 UTC,2295720000000000000,1515970000000000000,2268110000000000000,furniture.kitchen.table,maestro,39,1515920000000000000
10,2020-04-26 14:55:26 UTC,2295900000000000000,2273950000000000000,2268110000000000000,appliances.kitchen.refrigerators,lg,463,1515920000000000000
11,2020-04-26 23:35:39 UTC,2296160000000000000,1515970000000000000,2268110000000000000,appliances.personal.scales,polaris,30,1515920000000000000
12,2020-04-27 07:24:51 UTC,2296400000000000000,2273950000000000000,2374500000000000000,electronics.video.tv,samsung,417,1515920000000000000
...,...,...,...,...,...,...,...,...
135734,2020-01-12 05:19:23 UTC,2348770000000000000,1515970000000000000,2268110000000000000,furniture.kitchen.table,tvs,44,NaN
135735,2020-01-12 07:39:54 UTC,2348770000000000000,2273950000000000000,2268110000000000000,NaN,NaN,5,NaN
135736,2020-01-11 06:19:11 UTC,2348770000000000000,1515970000000000000,2268110000000000000,appliances.kitchen.toster,philips,32,1515920000000000000
135737,2020-01-12 07:43:33 UTC,2348770000000000000,1515970000000000000,2268110000000000000,NaN,provence,9,NaN
135738,2020-01-12 0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.drop_duplicates(subset=['event_time','order_id','product_id', 'category_id','category_code'])

,event_time,order_id,product_id,category_id,category_code,brand,price,user_id
0,2020-04-24 11:50:39 UTC,2294360000000000000,1515970000000000000,2268110000000000000,electronics.tablet,samsung,162,1515920000000000000
2,2020-04-24 14:37:43 UTC,2294440000000000000,2273950000000000000,2268110000000000000,electronics.audio.headphone,huawei,78,1515920000000000000
4,2020-04-24 19:16:21 UTC,2294580000000000000,2273950000000000000,2268110000000000000,NaN,karcher,218,1515920000000000000
5,2020-04-26 08:45:57 UTC,2295720000000000000,1515970000000000000,2268110000000000000,furniture.kitchen.table,maestro,39,1515920000000000000
6,2020-04-26 09:33:47 UTC,2295740000000000000,1515970000000000000,2268110000000000000,electronics.smartphone,apple,1387,1515920000000000000
...,...,...,...,...,...,...,...,...
135734,2020-01-12 05:19:23 UTC,2348770000000000000,1515970000000000000,2268110000000000000,furniture.kitchen.table,tvs,44,NaN
135735,2020-01-12 07:39:54 UTC,2348770000000000000,2273950000000000000,2268110000000000000,NaN,NaN,5,NaN
135736,2020-01-11 06:19:11 UTC,2348770000000000000,1515970000000000000,2268110000000000000,appliances.kitchen.toster,philips,32,1515920000000000000
135737,2020-01-12 07:43:33 UTC,2348770000000000000,1515970000000000000,2268110000000000000,NaN,provence,9,NaN
135738,2020-01-12 0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.duplicated()

0         False
1          True
2         False
3          True
4         False
          ...
135734    False
135735    False
135736    False
135737    False
135738    False
Length: 135739, dtype: bool

In [ ]:
df

,event_time,order_id,product_id,category_id,category_code,brand,price,user_id
0,2020-04-24 11:50:39 UTC,2294360000000000000,1515970000000000000,2268110000000000000,electronics.tablet,samsung,162,1515920000000000000
1,2020-04-24 11:50:39 UTC,2294360000000000000,1515970000000000000,2268110000000000000,electronics.tablet,samsung,162,1515920000000000000
2,2020-04-24 14:37:43 UTC,2294440000000000000,2273950000000000000,2268110000000000000,electronics.audio.headphone,huawei,78,1515920000000000000
3,2020-04-24 14:37:43 UTC,2294440000000000000,2273950000000000000,2268110000000000000,electronics.audio.headphone,huawei,78,1515920000000000000
4,2020-04-24 19:16:21 UTC,2294580000000000000,2273950000000000000,2268110000000000000,NaN,karcher,218,1515920000000000000
...,...,...,...,...,...,...,...,...
135734,2020-01-12 05:19:23 UTC,2348770000000000000,1515970000000000000,2268110000000000000,furniture.kitchen.table,tvs,44,NaN
135735,2020-01-12 07:39:54 UTC,2348770000000000000,2273950000000000000,2268110000000000000,NaN,NaN,5,NaN
135736,2020-01-11 06:19:11 UTC,2348770000000000000,1515970000000000000,2268110000000000000,appliances.kitchen.toster,philips,32,1515920000000000000
135737,2020-01-12 07:43:33 UTC,2348770000000000000,1515970000000000000,2268110000000000000,NaN,provence,9,NaN
135738,2020-01-12 0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# **Splitting files**

In [ ]:
import pandas as pd

# read DataFrame
data = pd.read_csv("purchase1.csv")

# no of csv files with row size
k = 5
size = 210000

for i in range(k):
	df = data[size*i:size*(i+1)]
	df.to_csv(f'purchase_split_{i+1}.csv', index=False)

In [ ]:
df_1 = pd.read_csv("purchase_split_1.csv")
print(df_1)

                     event_time             order_id           product_id  \
0       2020-04-24 11:50:39 UTC  2294360000000000000  1515970000000000000
1       2020-04-24 11:50:39 UTC  2294360000000000000  1515970000000000000
2       2020-04-24 14:37:43 UTC  2294440000000000000  2273950000000000000
3       2020-04-24 14:37:43 UTC  2294440000000000000  2273950000000000000
4       2020-04-24 19:16:21 UTC  2294580000000000000  2273950000000000000
...                         ...                  ...                  ...
209995  2020-01-19 10:20:33 UTC  2348780000000000000  1515970000000000000
209996  2020-01-20 10:31:53 UTC  2348780000000000000  2273950000000000000
209997  2020-01-20 10:31:53 UTC  2348780000000000000  1515970000000000000
209998  2020-01-18 09:34:03 UTC  2348780000000000000  1515970000000000000
209999  2020-01-18 07:51:25 UTC  2348780000000000000  1515970000000000000

               category_id                     category_code      brand  \
0      2268110000000000000                electronics.tablet    samsung
1      2268110000000000000                electronics.tablet    samsung
2      2268110000000000000       electronics.audio.headphone     huawei
3      2268110000000000000       electronics.audio.headphone     huawei
4      2268110000000000000                               NaN    karcher
...                    ...                               ...        ...
209995 2268110000000000000            electronics.smartphone      honor
209996 2268110000000000000  appliances.kitchen.refrigerators  different
209997 2268110000000000000  appliances.kitchen.refrigerators      organ
209998 2268110000000000000         appliances.kitchen.juicer      vitek
209999 2268110000000000000        appliances.personal.scales      tefal

        price             user_id
0         162 1515920000000000000
1         162 1515920000000000000
2          78 1515920000000000000
3          78 1515920000000000000
4         218 1515920000000000000
...       ...                 ...
209995    125                 NaN
209996      6                 NaN
209997      1                 NaN
209998     67                 NaN
209999     24                 NaN

[210000 rows x 8 columns]

In [ ]:
df_2 = pd.read_csv("purchase_split_2.csv")
print(df_2)

                     event_time             order_id           product_id  \
0       2020-01-19 06:06:00 UTC  2348780000000000000  1515970000000000000
1       2020-01-20 13:03:51 UTC  2348780000000000000  1515970000000000000
2       2020-01-19 07:38:52 UTC  2348780000000000000  1515970000000000000
3       2020-01-19 07:38:52 UTC  2348780000000000000  1515970000000000000
4       2020-01-19 07:38:52 UTC  2348780000000000000  2273950000000000000
...                         ...                  ...                  ...
209995  2020-02-09 10:11:24 UTC  2348790000000000000  2273950000000000000
209996  2020-02-09 10:11:24 UTC  2348790000000000000  1515970000000000000
209997  2020-02-08 15:24:05 UTC  2348790000000000000  1515970000000000000
209998  2020-02-08 12:27:45 UTC  2348790000000000000  1515970000000000000
209999  2020-02-09 08:00:41 UTC  2348790000000000000  1515970000000000000

               category_id                category_code    brand  price  \
0      2268110000000000000                          NaN  polaris     69
1      2268110000000000000     construction.tools.screw  samsung     12
2      2268110000000000000     computers.components.cpu  ergolux      2
3      2268110000000000000     computers.components.cpu  ergolux      2
4      2268110000000000000     computers.components.cpu  ergolux      3
...                    ...                          ...      ...    ...
209995 2268110000000000000       electronics.smartphone   huawei    185
209996 2268110000000000000  electronics.audio.headphone      neo     21
209997 2268110000000000000     construction.tools.screw  samsung     25
209998 2268110000000000000       electronics.smartphone    apple    833
209999                 NaN                        57.87      NaN    NaN

        user_id
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
...         ...
209995      NaN
209996      NaN
209997      NaN
209998      NaN
209999      NaN

[210000 rows x 8 columns]

In [ ]:
df_3 = pd.read_csv("purchase_split_3.csv")
print(df_3)

                     event_time             order_id           product_id  \
0       2020-02-09 08:00:41 UTC  2348790000000000000  1515970000000000000
1       2020-02-08 15:56:27 UTC  2348790000000000000  1515970000000000000
2       2020-02-08 15:56:27 UTC  2348790000000000000  1515970000000000000
3       2020-02-08 15:56:27 UTC  2348790000000000000  1515970000000000000
4       2020-02-09 11:44:23 UTC  2348790000000000000  1515970000000000000
...                         ...                  ...                  ...
209995  2020-02-28 12:20:29 UTC  2348810000000000000  1515970000000000000
209996  2020-02-28 04:11:16 UTC  2348810000000000000  1515970000000000000
209997  2020-02-28 12:35:50 UTC  2348810000000000000  1515970000000000000
209998  2020-02-28 14:02:23 UTC  2348810000000000000  1515970000000000000
209999  2020-02-28 07:55:42 UTC  2348810000000000000  1515970000000000000

               category_id                     category_code      brand  \
0      2268110000000000000      appliances.kitchen.microwave        ava
1      2268110000000000000  appliances.kitchen.refrigerators    samsung
2      2268110000000000000            electronics.smartphone    samsung
3      2268110000000000000         appliances.kitchen.washer    samsung
4      2268110000000000000   appliances.kitchen.meat_grinder      bosch
...                    ...                               ...        ...
209995 2268110000000000000           appliances.kitchen.oven    gorenje
209996 2268110000000000000                               NaN    polaris
209997 2268110000000000000   appliances.kitchen.meat_grinder    polaris
209998                 NaN                                 0        NaN
209999 2268110000000000000             electronics.telephone  panasonic

        price             user_id
0          44                 NaN
1         556                 NaN
2         231                 NaN
3         394                 NaN
4         111                 NaN
...       ...                 ...
209995    509                 NaN
209996     28 1515920000000000000
209997    116 1515920000000000000
209998    NaN                 NaN
209999     37                 NaN

[210000 rows x 8 columns]

In [ ]:
df_4 = pd.read_csv("purchase_split_4.csv")
print(df_4)

                     event_time             order_id           product_id  \
0       2020-02-28 16:48:25 UTC  2348810000000000000  1515970000000000000
1       2020-02-28 16:48:25 UTC  2348810000000000000  1515970000000000000
2       2020-02-28 16:48:25 UTC  2348810000000000000  1515970000000000000
3       2020-02-28 16:48:25 UTC  2348810000000000000  2273950000000000000
4       2020-02-28 16:48:25 UTC  2348810000000000000  1515970000000000000
...                         ...                  ...                  ...
209995  2020-03-16 04:55:18 UTC  2348820000000000000  1515970000000000000
209996  2020-03-17 07:09:23 UTC  2348820000000000000  1515970000000000000
209997  2020-03-17 07:09:23 UTC  2348820000000000000  1515970000000000000
209998  2020-03-17 07:09:23 UTC  2348820000000000000  1515970000000000000
209999  2020-03-15 07:28:05 UTC  2348820000000000000  1515970000000000000

               category_id               category_code     brand  price  \
0      2268110000000000000    appliances.ironing_board   perilla     37
1      2374500000000000000        electronics.video.tv        lg    544
2      2268110000000000000                         NaN      sony    229
3      2268110000000000000  appliances.personal.scales   polaris     22
4      2268110000000000000             appliances.iron     braun     88
...                    ...                         ...       ...    ...
209995 2268110000000000000       electronics.telephone     nokia     23
209996 2268110000000000000                         NaN  babyliss     86
209997 2268110000000000000          computers.notebook      asus    951
209998 2268110000000000000   appliances.kitchen.juicer      bork    447
209999 2268110000000000000   appliances.kitchen.toster   philips     46

        user_id
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
...         ...
209995      NaN
209996      NaN
209997      NaN
209998      NaN
209999      NaN

[210000 rows x 8 columns]

In [ ]:
df_5 = pd.read_csv("purchase_split_5.csv")
print(df_5)

                     event_time             order_id           product_id  \
0       2020-03-15 07:28:05 UTC  2348820000000000000  1515970000000000000
1       2020-03-15 07:28:05 UTC  2348820000000000000  1515970000000000000
2       2020-03-17 10:13:02 UTC  2348820000000000000  1515970000000000000
3       2020-03-16 10:28:59 UTC  2348820000000000000  2273950000000000000
4       2020-03-16 10:28:59 UTC  2348820000000000000  1515970000000000000
...                         ...                  ...                  ...
208570  2020-05-12 07:16:25 UTC  2353220000000000000  1515970000000000000
208571  2020-05-12 07:08:37 UTC  2353220000000000000  1515970000000000000
208572  2020-05-12 09:11:47 UTC  2353220000000000000  2273950000000000000
208573  2020-05-12 06:43:09 UTC  2353220000000000000  1515970000000000000
208574  2020-05-12 06:43:09 UTC  2353220000000000000  1515970000000000000

               category_id                     category_code      brand  \
0      2268110000000000000                               NaN      tefal
1      2268110000000000000                computers.notebook      apple
2      2268110000000000000   appliances.kitchen.meat_grinder  panasonic
3      2268110000000000000            electronics.smartphone    samsung
4      2268110000000000000       computers.peripherals.mouse   logitech
...                    ...                               ...        ...
208570                 NaN                             57.87        NaN
208571 2268110000000000000            electronics.smartphone       oppo
208572 2268110000000000000  appliances.kitchen.refrigerators    samsung
208573 2268110000000000000                               NaN    rowenta
208574 2268110000000000000                               NaN   provence

        price  user_id
0          19      NaN
1        1338      NaN
2         278      NaN
3         162      NaN
4           7      NaN
...       ...      ...
208570    NaN      NaN
208571    231      NaN
208572    521      NaN
208573     56      NaN
208574      4      NaN

[208575 rows x 8 columns]

In [ ]:
dfx = pd.read_excel('purchase_2.xlsx')

In [ ]:
dfx

,event_time,order_id,product_id,category_id,category_code,brand,price,user_id
0,2020-04-24 11:50:39 UTC,2294359932054530048,1515966223509080064,2268105426648169984,electronics.tablet,samsung,162,1515920000000000000
1,2020-04-24 11:50:39 UTC,2294359932054530048,1515966223509080064,2268105426648169984,electronics.tablet,samsung,162,1515920000000000000
2,2020-04-24 14:37:43 UTC,2294444024058080000,2273948319057179904,2268105430162990080,electronics.audio.headphone,huawei,78,1515920000000000000
3,2020-04-24 14:37:43 UTC,2294444024058080000,2273948319057179904,2268105430162990080,electronics.audio.headphone,huawei,78,1515920000000000000
4,2020-04-24 19:16:21 UTC,2294584263154070016,2273948316817420032,2268105471367840000,NaN,karcher,218,1515920000000000000
...,...,...,...,...,...,...,...,...
1048570,2020-05-12 07:16:25 UTC,2353219986312390144,1515966223523300096,NaN,58,NaN,NaN,NaN
1048571,2020-05-12 07:08:37 UTC,2353219986429830144,1515966223509090048,2268105428166500096,electronics.smartphone,oppo,231,NaN
1048572,2020-05-12 09:11:47 UTC,2353219986530500096,2273948222294579968,2268105393848709888,appliances.kitchen.refrigerators,samsung,521,NaN
1048573,2020-05-12 06:43:09 UTC,2353219986656330240,1515966223509289984,2268105403822759936,NaN,rowenta,56,NaN
1048574,2020-05-12 06:43:09 UTC,2353219986656330240,1515966223510400000,2268105438929090048,NaN,provence,4,NaN

In [ ]:
uniq_row=dfx.drop_duplicates()
uniq_row.to_excel('cleaned_file.xlsx', index=False)

,event_time,order_id,product_id,category_id,category_code,brand,price,user_id
0,2020-04-24 11:50:39 UTC,2294359932054530048,1515966223509080064,2268105426648169984,electronics.tablet,samsung,162,1515920000000000000
2,2020-04-24 14:37:43 UTC,2294444024058080000,2273948319057179904,2268105430162990080,electronics.audio.headphone,huawei,78,1515920000000000000
4,2020-04-24 19:16:21 UTC,2294584263154070016,2273948316817420032,2268105471367840000,NaN,karcher,218,1515920000000000000
5,2020-04-26 08:45:57 UTC,2295716521449609984,1515966223509260032,2268105442636849920,furniture.kitchen.table,maestro,39,1515920000000000000
6,2020-04-26 09:33:47 UTC,2295740594749700096,1515966223509100032,2268105428166500096,electronics.smartphone,apple,1387,1515920000000000000
...,...,...,...,...,...,...,...,...
1048570,2020-05-12 07:16:25 UTC,2353219986312390144,1515966223523300096,NaN,58,NaN,NaN,NaN
1048571,2020-05-12 07:08:37 UTC,2353219986429830144,1515966223509090048,2268105428166500096,electronics.smartphone,oppo,231,NaN
1048572,2020-05-12 09:11:47 UTC,2353219986530500096,2273948222294579968,2268105393848709888,appliances.kitchen.refrigerators,samsung,521,NaN
1048573,2020-05-12 06:43:09 UTC,2353219986656330240,1515966223509289984,2268105403822759936,NaN,rowenta,56,NaN
1048574,2020-05-12 06:43:09 UTC,2353219986656330240,1515966223510400000,2268105438929090048,NaN,provence,4,NaN

In [ ]:
duplicate_rows = uniq_row.duplicated(subset=['event_time','order_id'], keep=False)
duplicate_rows

0          False
2          False
4          False
5          False
6          False
           ...
1048570     True
1048571    False
1048572    False
1048573     True
1048574     True
Length: 1036848, dtype: bool

# Read clean **file**

In [ ]:
dfcf = pd.read_excel('cleaned_file_1.xlsx')
# unique_values_A = dfcf['A'].unique()
dfcf

,event_time,order_id,product_id,category_id,category_code,brand,price,user_id
0,2020-04-24 11:50:39 UTC,2294359932054530048,1515966223509080064,2.268105e+18,electronics.tablet,samsung,162.01,1.515916e+18
1,2020-04-24 14:37:43 UTC,2294444024058080000,2273948319057179904,2.268105e+18,electronics.audio.headphone,huawei,77.52,1.515916e+18
2,2020-04-24 19:16:21 UTC,2294584263154070016,2273948316817420032,2.268105e+18,NaN,karcher,217.57,1.515916e+18
3,2020-04-26 08:45:57 UTC,2295716521449609984,1515966223509260032,2.268105e+18,furniture.kitchen.table,maestro,39.33,1.515916e+18
4,2020-04-26 09:33:47 UTC,2295740594749700096,1515966223509100032,2.268105e+18,electronics.smartphone,apple,1387.01,1.515916e+18
...,...,...,...,...,...,...,...,...
1036843,2020-05-12 07:16:25 UTC,2353219986312390144,1515966223523300096,NaN,57.87,NaN,NaN,NaN
1036844,2020-05-12 07:08:37 UTC,2353219986429830144,1515966223509090048,2.268105e+18,electronics.smartphone,oppo,231.23,NaN
1036845,2020-05-12 09:11:47 UTC,2353219986530500096,2273948222294579968,2.268105e+18,appliances.kitchen.refrigerators,samsung,520.81,NaN
1036846,2020-05-12 06:43:09 UTC,2353219986656330240,1515966223509289984,2.268105e+18,NaN,rowenta,55.53,NaN
1036847,2020-05-12 06:43:09 UTC,2353219986656330240,1515966223510400000,2.268105e+18,NaN,provence,3.91,NaN

In [ ]:
unique_user_id = dfcf['user_id'].unique()

cnt_unique_user_id = dfcf['user_id'].nunique()
print(cnt_unique_user_id)

13353

In [ ]:
print(unique_user_id)

[1.51591563e+18 1.51591563e+18 1.51591563e+18 ... 1.51591563e+18
 1.51591563e+18            nan]

In [ ]:
unique_product_id = dfcf['product_id'].unique()

cnt_product_id = dfcf['product_id'].nunique()
print(cnt_product_id)

2162

In [ ]:
unique_category_id = dfcf['category_id'].unique()

cnt_category_id = dfcf['category_id'].nunique()
print(cnt_category_id)

759

In [ ]:
category_starts_with_c = (dfcf['category_code'].str.startswith('e')).sum()


# Display the result
print(category_starts_with_c)

206685

In [ ]:
category_starts_with_c = (dfcf['category_code'].str.startswith('furniture')).sum()


# Display the result
print(category_starts_with_c)

49624

In [ ]:
dfcf.describe()

,order_id,product_id,category_id,price,user_id
count,1036848,1036848,846681,846681,885129
mean,2347996847895822336,1679383533514461440,2274004859827693824,136,1515915625558960640
std,5661983296436786,311880752844424320,24040278484266136,216,35541669
min,2294359932054530048,1515966223509080064,2268105388421280000,0,1515915625353220096
25%,2348778846943179776,1515966223509110016,2268105407144649984,14,1515915625532999936
50%,2348798113356964864,1515966223509380096,2268105428166500096,47,1515915625554080000
75%,2348817123372950016,1515966223523300096,2268105441856709888,162,1515915625594510080
max,2353219986656330240,2349253022959269888,2374498914001939968,18329,1515915625611020032

In [ ]:
dfcf.dtypes

event_time        object
order_id           int64
product_id         int64
category_id      float64
category_code     object
brand             object
price            float64
user_id          float64
dtype: object

In [ ]:
dfcf.isnull().sum()

event_time            0
order_id              0
product_id            0
category_id      190167
category_code    258388
brand            225843
price            190167
user_id          151719
dtype: int64

# Remove numeric values from category

In [ ]:


# Convert non-numeric values in 'category' column to string
dfcf['category_code'] = dfcf['category_code'].astype(str)

# # Remove rows where 'category' column contains numeric values
non_numeric_df = dfcf[~dfcf['category_code'].str.isnumeric()]

# print("DataFrame after removing rows with numeric values in 'category' column:")
print(non_numeric_df)

                      event_time             order_id           product_id  \
0        2020-04-24 11:50:39 UTC  2294359932054530048  1515966223509080064
1        2020-04-24 14:37:43 UTC  2294444024058080000  2273948319057179904
2        2020-04-24 19:16:21 UTC  2294584263154070016  2273948316817420032
3        2020-04-26 08:45:57 UTC  2295716521449609984  1515966223509260032
4        2020-04-26 09:33:47 UTC  2295740594749700096  1515966223509100032
...                          ...                  ...                  ...
1036843  2020-05-12 07:16:25 UTC  2353219986312390144  1515966223523300096
1036844  2020-05-12 07:08:37 UTC  2353219986429830144  1515966223509090048
1036845  2020-05-12 09:11:47 UTC  2353219986530500096  2273948222294579968
1036846  2020-05-12 06:43:09 UTC  2353219986656330240  1515966223509289984
1036847  2020-05-12 06:43:09 UTC  2353219986656330240  1515966223510400000

          category_id                     category_code     brand    price  \
0        2.268105e+18                electronics.tablet   samsung   162.01
1        2.268105e+18       electronics.audio.headphone    huawei    77.52
2        2.268105e+18                               nan   karcher   217.57
3        2.268105e+18           furniture.kitchen.table   maestro    39.33
4        2.268105e+18            electronics.smartphone     apple  1387.01
...               ...                               ...       ...      ...
1036843           NaN                             57.87       NaN      NaN
1036844  2.268105e+18            electronics.smartphone      oppo   231.23
1036845  2.268105e+18  appliances.kitchen.refrigerators   samsung   520.81
1036846  2.268105e+18                               nan   rowenta    55.53
1036847  2.268105e+18                               nan  provence     3.91

              user_id
0        1.515916e+18
1        1.515916e+18
2        1.515916e+18
3        1.515916e+18
4        1.515916e+18
...               ...
1036843           NaN
1036844           NaN
1036845           NaN
1036846           NaN
1036847           NaN

[1034653 rows x 8 columns]

# Removing numertic columns in category_code column to excel

In [ ]:
non_numeric_df.to_excel('cleaned_file_2.xlsx', index=False)

# Check 'nan' values in category_code column

In [ ]:
num_other_occurrences = (non_numeric_df['category_code'] == 'nan').sum()

print("Number of occurrences of 'nan' in the 'category' column:", num_other_occurrences)

Number of occurrences of 'nan' in the 'category' column: 258388

# Assign 'other' value to 'nan' value in category_code

In [ ]:
non_numeric_df.loc[non_numeric_df['category_code'] == 'nan', 'category_code'] = 'other'

print("DataFrame after assigning 'other' to all occurrences of 'nan' in the 'category_code' column:")
print(non_numeric_df)

DataFrame after assigning 'other' to all occurrences of 'nan' in the 'category_code' column:
                      event_time             order_id           product_id  \
0        2020-04-24 11:50:39 UTC  2294359932054530048  1515966223509080064
1        2020-04-24 14:37:43 UTC  2294444024058080000  2273948319057179904
2        2020-04-24 19:16:21 UTC  2294584263154070016  2273948316817420032
3        2020-04-26 08:45:57 UTC  2295716521449609984  1515966223509260032
4        2020-04-26 09:33:47 UTC  2295740594749700096  1515966223509100032
...                          ...                  ...                  ...
1036843  2020-05-12 07:16:25 UTC  2353219986312390144  1515966223523300096
1036844  2020-05-12 07:08:37 UTC  2353219986429830144  1515966223509090048
1036845  2020-05-12 09:11:47 UTC  2353219986530500096  2273948222294579968
1036846  2020-05-12 06:43:09 UTC  2353219986656330240  1515966223509289984
1036847  2020-05-12 06:43:09 UTC  2353219986656330240  1515966223510400000

          category_id                     category_code     brand    price  \
0        2.268105e+18                electronics.tablet   samsung   162.01
1        2.268105e+18       electronics.audio.headphone    huawei    77.52
2        2.268105e+18                             other   karcher   217.57
3        2.268105e+18           furniture.kitchen.table   maestro    39.33
4        2.268105e+18            electronics.smartphone     apple  1387.01
...               ...                               ...       ...      ...
1036843           NaN                             57.87       NaN      NaN
1036844  2.268105e+18            electronics.smartphone      oppo   231.23
1036845  2.268105e+18  appliances.kitchen.refrigerators   samsung   520.81
1036846  2.268105e+18                             other   rowenta    55.53
1036847  2.268105e+18                             other  provence     3.91

              user_id
0        1.515916e+18
1        1.515916e+18
2        1.515916e+18
3        1.515916e+18
4        1.515916e+18
...               ...
1036843           NaN
1036844           NaN
1036845           NaN
1036846           NaN
1036847           NaN

[1034653 rows x 8 columns]

# Chech NaN values in price column

In [ ]:
num_nan_values = non_numeric_df['price'].isna().sum()

print("Number of NaN values in the 'price' column:", num_nan_values)

Number of NaN values in the 'price' column: 187972

# Remove NaN values from price column

In [ ]:
rem_nul_price = non_numeric_df[~non_numeric_df['price'].isnull()]
rem_nul_price

,event_time,order_id,product_id,category_id,category_code,brand,price,user_id
0,2020-04-24 11:50:39 UTC,2294359932054530048,1515966223509080064,2.268105e+18,electronics.tablet,samsung,162.01,1.515916e+18
1,2020-04-24 14:37:43 UTC,2294444024058080000,2273948319057179904,2.268105e+18,electronics.audio.headphone,huawei,77.52,1.515916e+18
2,2020-04-24 19:16:21 UTC,2294584263154070016,2273948316817420032,2.268105e+18,nan,karcher,217.57,1.515916e+18
3,2020-04-26 08:45:57 UTC,2295716521449609984,1515966223509260032,2.268105e+18,furniture.kitchen.table,maestro,39.33,1.515916e+18
4,2020-04-26 09:33:47 UTC,2295740594749700096,1515966223509100032,2.268105e+18,electronics.smartphone,apple,1387.01,1.515916e+18
...,...,...,...,...,...,...,...,...
1036842,2020-05-12 07:16:25 UTC,2353219986312390144,1515966223509100032,2.268105e+18,computers.peripherals.printer,hp,164.10,NaN
1036844,2020-05-12 07:08:37 UTC,2353219986429830144,1515966223509090048,2.268105e+18,electronics.smartphone,oppo,231.23,NaN
1036845,2020-05-12 09:11:47 UTC,2353219986530500096,2273948222294579968,2.268105e+18,appliances.kitchen.refrigerators,samsung,520.81,NaN
1036846,2020-05-12 06:43:09 UTC,2353219986656330240,1515966223509289984,2.268105e+18,nan,rowenta,55.53,NaN
1036847,2020-05-12 06:43:09 UTC,2353219986656330240,1515966223510400000,2.268105e+18,nan,provence,3.91,NaN

# Removing records that doesn't contain price

In [ ]:
rem_nul_price.to_excel('cleaned_file_3.xlsx', index=False)

In [ ]:
num_nan_values = rem_nul_price['price'].isna().sum()

print("Number of NaN values in the 'price' column:", num_nan_values)

Number of NaN values in the 'price' column: 0

# Assign 'other' to 'nan' value in category_code (after removing null price)

In [ ]:
rem_nul_price.loc[rem_nul_price['category_code'] == 'nan', 'category_code'] = 'other'

print("DataFrame after assigning 'other' to all occurrences of 'nan' in the 'category_code' column:")
print(rem_nul_price)

DataFrame after assigning 'other' to all occurrences of 'nan' in the 'category_code' column:
                      event_time             order_id           product_id  \
0        2020-04-24 11:50:39 UTC  2294359932054530048  1515966223509080064
1        2020-04-24 14:37:43 UTC  2294444024058080000  2273948319057179904
2        2020-04-24 19:16:21 UTC  2294584263154070016  2273948316817420032
3        2020-04-26 08:45:57 UTC  2295716521449609984  1515966223509260032
4        2020-04-26 09:33:47 UTC  2295740594749700096  1515966223509100032
...                          ...                  ...                  ...
1036842  2020-05-12 07:16:25 UTC  2353219986312390144  1515966223509100032
1036844  2020-05-12 07:08:37 UTC  2353219986429830144  1515966223509090048
1036845  2020-05-12 09:11:47 UTC  2353219986530500096  2273948222294579968
1036846  2020-05-12 06:43:09 UTC  2353219986656330240  1515966223509289984
1036847  2020-05-12 06:43:09 UTC  2353219986656330240  1515966223510400000

          category_id                     category_code     brand    price  \
0        2.268105e+18                electronics.tablet   samsung   162.01
1        2.268105e+18       electronics.audio.headphone    huawei    77.52
2        2.268105e+18                             other   karcher   217.57
3        2.268105e+18           furniture.kitchen.table   maestro    39.33
4        2.268105e+18            electronics.smartphone     apple  1387.01
...               ...                               ...       ...      ...
1036842  2.268105e+18     computers.peripherals.printer        hp   164.10
1036844  2.268105e+18            electronics.smartphone      oppo   231.23
1036845  2.268105e+18  appliances.kitchen.refrigerators   samsung   520.81
1036846  2.268105e+18                             other   rowenta    55.53
1036847  2.268105e+18                             other  provence     3.91

              user_id
0        1.515916e+18
1        1.515916e+18
2        1.515916e+18
3        1.515916e+18
4        1.515916e+18
...               ...
1036842           NaN
1036844           NaN
1036845           NaN
1036846           NaN
1036847           NaN

[846681 rows x 8 columns]

# Downloading xlxs file of contains category as 'other'

In [ ]:
rem_nul_price.to_excel('cleaned_file_4.xlsx', index=False)

In [ ]:
rem_nul_price.describe()

           order_id    product_id   category_id          price       user_id
count  8.466810e+05  8.466810e+05  8.466810e+05  846681.000000  7.139580e+05
mean   2.347806e+18  1.716088e+18  2.274005e+18     136.121358  1.515916e+18
std    6.230998e+15  3.343223e+17  2.404028e+16     216.080183  3.591099e+07
min    2.294360e+18  1.515966e+18  2.268105e+18       0.000000  1.515916e+18
25%    2.348779e+18  1.515966e+18  2.268105e+18      13.630000  1.515916e+18
50%    2.348798e+18  1.515966e+18  2.268105e+18      47.200000  1.515916e+18
75%    2.348818e+18  2.273948e+18  2.268105e+18     162.010000  1.515916e+18
max    2.353220e+18  2.349253e+18  2.374499e+18   18328.680000  1.515916e+18

In [ ]:
rem_nul_price.isnull().sum()

event_time            0
order_id              0
product_id            0
category_id           0
category_code         0
brand             41961
price                 0
user_id          132723
dtype: int64

# remove records where brand name is null

In [ ]:

# Remove rows containing null values in the 'brand' column
rem_nul_brand = rem_nul_price.dropna(subset=['brand'])

print("DataFrame after removing rows with null values in the 'brand' column:")
print(rem_nul_brand)

DataFrame after removing rows with null values in the 'brand' column:
                      event_time             order_id           product_id  \
0        2020-04-24 11:50:39 UTC  2294359932054530048  1515966223509080064
1        2020-04-24 14:37:43 UTC  2294444024058080000  2273948319057179904
2        2020-04-24 19:16:21 UTC  2294584263154070016  2273948316817420032
3        2020-04-26 08:45:57 UTC  2295716521449609984  1515966223509260032
4        2020-04-26 09:33:47 UTC  2295740594749700096  1515966223509100032
...                          ...                  ...                  ...
1036842  2020-05-12 07:16:25 UTC  2353219986312390144  1515966223509100032
1036844  2020-05-12 07:08:37 UTC  2353219986429830144  1515966223509090048
1036845  2020-05-12 09:11:47 UTC  2353219986530500096  2273948222294579968
1036846  2020-05-12 06:43:09 UTC  2353219986656330240  1515966223509289984
1036847  2020-05-12 06:43:09 UTC  2353219986656330240  1515966223510400000

          category_id                     category_code     brand    price  \
0        2.268105e+18                electronics.tablet   samsung   162.01
1        2.268105e+18       electronics.audio.headphone    huawei    77.52
2        2.268105e+18                             other   karcher   217.57
3        2.268105e+18           furniture.kitchen.table   maestro    39.33
4        2.268105e+18            electronics.smartphone     apple  1387.01
...               ...                               ...       ...      ...
1036842  2.268105e+18     computers.peripherals.printer        hp   164.10
1036844  2.268105e+18            electronics.smartphone      oppo   231.23
1036845  2.268105e+18  appliances.kitchen.refrigerators   samsung   520.81
1036846  2.268105e+18                             other   rowenta    55.53
1036847  2.268105e+18                             other  provence     3.91

              user_id
0        1.515916e+18
1        1.515916e+18
2        1.515916e+18
3        1.515916e+18
4        1.515916e+18
...               ...
1036842           NaN
1036844           NaN
1036845           NaN
1036846           NaN
1036847           NaN

[804720 rows x 8 columns]

# create xlxs file after removing null value from brand

In [ ]:
rem_nul_brand.to_excel('cleaned_file_5.xlsx', index=False)

In [ ]:
rem_nul_brand.describe()

           order_id    product_id   category_id          price       user_id
count  8.047200e+05  8.047200e+05  8.047200e+05  804720.000000  6.784020e+05
mean   2.347795e+18  1.714435e+18  2.273905e+18     140.652221  1.515916e+18
std    6.265078e+15  3.334294e+17  2.382722e+16     217.335319  3.593741e+07
min    2.294360e+18  1.515966e+18  2.268105e+18       0.000000  1.515916e+18
25%    2.348779e+18  1.515966e+18  2.268105e+18      13.870000  1.515916e+18
50%    2.348798e+18  1.515966e+18  2.268105e+18      50.900000  1.515916e+18
75%    2.348818e+18  2.273948e+18  2.268105e+18     175.900000  1.515916e+18
max    2.353220e+18  2.344948e+18  2.374499e+18    9606.480000  1.515916e+18

In [ ]:
rem_nul_brand.isnull().sum()

event_time            0
order_id              0
product_id            0
category_id           0
category_code         0
brand                 0
price                 0
user_id          126318
dtype: int64

In [ ]:
rem_nul_brand.dtypes

event_time        object
order_id           int64
product_id         int64
category_id      float64
category_code     object
brand             object
price            float64
user_id          float64
dtype: object

# how to count column of dtype float64 contains records of other dtype

In [ ]:
count_other_dtype = rem_nul_brand.loc[rem_nul_brand['price'].notnull() & rem_nul_brand['price'].apply(lambda x: not isinstance(x, float)), 'price'].size
print("Number of rows in the 'price' column containing records of other data types:", count_other_dtype)


count_other_dtype = rem_nul_brand.loc[rem_nul_brand['category_id'].notnull() & rem_nul_brand['category_id'].apply(lambda x: not isinstance(x, float)), 'price'].size
print("Number of rows in the 'category_id' column containing records of other data types:", count_other_dtype)


count_other_dtype = rem_nul_brand.loc[rem_nul_brand['user_id'].notnull() & rem_nul_brand['user_id'].apply(lambda x: not isinstance(x, float)), 'price'].size
print("Number of rows in the 'user_id' column containing records of other data types:", count_other_dtype)

Number of rows in the 'price' column containing records of other data types: 0
Number of rows in the 'price' column containing records of other data types: 0
Number of rows in the 'price' column containing records of other data types: 0

# how to count column of dtype object contains records of other dtype

In [ ]:
count_other_dtype = rem_nul_brand.loc[rem_nul_brand['category_code'].apply(lambda x: not isinstance(x, str)), 'category_code'].size
print("Number of rows in the 'category_code' column containing records of other data types:", count_other_dtype)

Number of rows in the 'category_code' column containing records of other data types: 0

# Count Number of INCONSISTENT records of order_id and event_time

In [ ]:
# Group by order_id and check for inconsistencies
inconsistent_order_ids = []
for order_id, group in rem_nul_brand.groupby('order_id'):
    if group['event_time'].nunique() > 1:
        inconsistent_order_ids.append(order_id)

# Count the number of records with inconsistent event_time
num_inconsistent_records = rem_nul_brand[rem_nul_brand['order_id'].isin(inconsistent_order_ids)].shape[0]

print("Number of records with inconsistent event_time:", num_inconsistent_records)

Number of records with inconsistent event_time: 23414

# Display inconsistent records

In [ ]:
inconsistent_order_ids = []
for order_id, group in rem_nul_brand.groupby('order_id'):
    if group['event_time'].nunique() > 1:
        inconsistent_order_ids.append(order_id)

# Filter DataFrame to include only rows with inconsistent event_time
inconsistent_rows = rem_nul_brand[rem_nul_brand['order_id'].isin(inconsistent_order_ids)]

print("Rows with inconsistent event_time:")
print(inconsistent_rows)

Rows with inconsistent event_time:
                     event_time             order_id           product_id  \
97129   2020-01-09 12:43:44 UTC  2348767502147780096  1515966223509080064
97130   2020-01-09 12:43:44 UTC  2348767502147780096  1515966223509250048
97131   2020-01-08 09:57:05 UTC  2348767502147780096  1515966223509120000
97208   2020-01-09 07:16:33 UTC  2348767509538140160  2273948303068489984
97209   2020-01-08 14:04:05 UTC  2348767509538140160  2273948319115899904
...                         ...                  ...                  ...
997251  2020-04-26 12:00:00 UTC  2348832886515299840  1515966223509100032
997268  2020-04-25 08:24:21 UTC  2348832888973159936  1515966223509080064
997269  2020-04-26 02:33:50 UTC  2348832888973159936  1515966223509260032
997289  2020-04-25 12:00:00 UTC  2348832890583770112  1515966223509080064
997290  2020-04-26 08:32:28 UTC  2348832890583770112  1515966223509080064

         category_id                 category_code       brand   price  \
97129   2.268105e+18   computers.peripherals.mouse    logitech   35.86
97130   2.268105e+18   computers.peripherals.mouse       zowie   43.96
97131   2.268105e+18         electronics.telephone       nokia   25.21
97208   2.268105e+18        electronics.smartphone      huawei  185.16
97209   2.268105e+18    appliances.kitchen.blender     polaris   43.96
...              ...                           ...         ...     ...
997251  2.268105e+18        electronics.smartphone     samsung   64.56
997268  2.268105e+18     appliances.sewing_machine      jaguar   92.57
997269  2.268105e+18  appliances.kitchen.microwave  electrolux  416.64
997289  2.268105e+18    appliances.personal.scales       vitek   12.48
997290  2.268105e+18        electronics.smartphone     samsung  115.72

             user_id
97129   1.515916e+18
97130   1.515916e+18
97131   1.515916e+18
97208   1.515916e+18
97209   1.515916e+18
...              ...
997251           NaN
997268           NaN
997269           NaN
997289           NaN
997290           NaN

[23414 rows x 8 columns]

# Removes inconsistent event_time records

In [ ]:
# # Remove records with inconsistent event_time
df_cleaned = rem_nul_brand[~rem_nul_brand['order_id'].isin(inconsistent_order_ids)]
print("DataFrame after removing records with inconsistent event_time:")
print(df_cleaned)

DataFrame after removing records with inconsistent event_time:
                      event_time             order_id           product_id  \
0        2020-04-24 11:50:39 UTC  2294359932054530048  1515966223509080064
1        2020-04-24 14:37:43 UTC  2294444024058080000  2273948319057179904
2        2020-04-24 19:16:21 UTC  2294584263154070016  2273948316817420032
3        2020-04-26 08:45:57 UTC  2295716521449609984  1515966223509260032
4        2020-04-26 09:33:47 UTC  2295740594749700096  1515966223509100032
...                          ...                  ...                  ...
1036842  2020-05-12 07:16:25 UTC  2353219986312390144  1515966223509100032
1036844  2020-05-12 07:08:37 UTC  2353219986429830144  1515966223509090048
1036845  2020-05-12 09:11:47 UTC  2353219986530500096  2273948222294579968
1036846  2020-05-12 06:43:09 UTC  2353219986656330240  1515966223509289984
1036847  2020-05-12 06:43:09 UTC  2353219986656330240  1515966223510400000

          category_id                     category_code     brand    price  \
0        2.268105e+18                electronics.tablet   samsung   162.01
1        2.268105e+18       electronics.audio.headphone    huawei    77.52
2        2.268105e+18                             other   karcher   217.57
3        2.268105e+18           furniture.kitchen.table   maestro    39.33
4        2.268105e+18            electronics.smartphone     apple  1387.01
...               ...                               ...       ...      ...
1036842  2.268105e+18     computers.peripherals.printer        hp   164.10
1036844  2.268105e+18            electronics.smartphone      oppo   231.23
1036845  2.268105e+18  appliances.kitchen.refrigerators   samsung   520.81
1036846  2.268105e+18                             other   rowenta    55.53
1036847  2.268105e+18                             other  provence     3.91

              user_id
0        1.515916e+18
1        1.515916e+18
2        1.515916e+18
3        1.515916e+18
4        1.515916e+18
...               ...
1036842           NaN
1036844           NaN
1036845           NaN
1036846           NaN
1036847           NaN

[781306 rows x 8 columns]

In [ ]:
df_cleaned.to_excel('cleaned_file_6.xlsx', index=False)

In [ ]:
# Group by order_id and check for inconsistencies
inconsistent_order_ids = []
for order_id, group in df_cleaned.groupby('order_id'):
    if group['event_time'].nunique() > 1:
        inconsistent_order_ids.append(order_id)

# Count the number of records with inconsistent event_time
num_inconsistent_records = df_cleaned[df_cleaned['order_id'].isin(inconsistent_order_ids)].shape[0]

print("Number of records with inconsistent event_time:", num_inconsistent_records)

Number of records with inconsistent event_time: 0

# Number of Unique customer IDs

In [ ]:

# Assuming you have a DataFrame named 'df' with a column 'user_id'
unique_user_count = len(df_cleaned['user_id'].unique())

# Print or inspect the count of unique users
print(unique_user_count)

12836

In [ ]:
import pandas as pd
import numpy as np

# Define the range of user IDs
start_user_id = 1591562541901000
end_user_id =   1591562561901000

# Generate 10,000 unique user IDs within the specified range
unique_user_ids = np.random.randint(start_user_id, end_user_id + 1, size=10000)

# Assign user IDs to order IDs such that multiple order IDs have the same user ID
np.random.seed(42)  # For reproducibility
df_cleaned['user_id1'] = np.random.choice(unique_user_ids, size=len(df_cleaned))

print("DataFrame with new column user_id1:")
print(df_cleaned)

DataFrame with new column user_id1:
                      event_time             order_id           product_id  \
0        2020-04-24 11:50:39 UTC  2294359932054530048  1515966223509080064
1        2020-04-24 14:37:43 UTC  2294444024058080000  2273948319057179904
2        2020-04-24 19:16:21 UTC  2294584263154070016  2273948316817420032
3        2020-04-26 08:45:57 UTC  2295716521449609984  1515966223509260032
4        2020-04-26 09:33:47 UTC  2295740594749700096  1515966223509100032
...                          ...                  ...                  ...
1036842  2020-05-12 07:16:25 UTC  2353219986312390144  1515966223509100032
1036844  2020-05-12 07:08:37 UTC  2353219986429830144  1515966223509090048
1036845  2020-05-12 09:11:47 UTC  2353219986530500096  2273948222294579968
1036846  2020-05-12 06:43:09 UTC  2353219986656330240  1515966223509289984
1036847  2020-05-12 06:43:09 UTC  2353219986656330240  1515966223510400000

          category_id                     category_code     brand    price  \
0        2.268105e+18                electronics.tablet   samsung   162.01
1        2.268105e+18       electronics.audio.headphone    huawei    77.52
2        2.268105e+18                             other   karcher   217.57
3        2.268105e+18           furniture.kitchen.table   maestro    39.33
4        2.268105e+18            electronics.smartphone     apple  1387.01
...               ...                               ...       ...      ...
1036842  2.268105e+18     computers.peripherals.printer        hp   164.10
1036844  2.268105e+18            electronics.smartphone      oppo   231.23
1036845  2.268105e+18  appliances.kitchen.refrigerators   samsung   520.81
1036846  2.268105e+18                             other   rowenta    55.53
1036847  2.268105e+18                             other  provence     3.91

              user_id          user_id1
0        1.515916e+18  1591562546354980
1        1.515916e+18  1591562551077020
2        1.515916e+18  1591562556744000
3        1.515916e+18  1591562552740472
4        1.515916e+18  1591562560991855
...               ...               ...
1036842           NaN  1591562546334687
1036844           NaN  1591562556743832
1036845           NaN  1591562559084020
1036846           NaN  1591562552836755
1036847           NaN  1591562551837111

[781306 rows x 9 columns]

<ipython-input-54-a1c049034bc5>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['user_id1'] = np.random.choice(unique_user_ids, size=len(df_cleaned))

In [ ]:
df_cleaned.isnull().sum()

event_time            0
order_id              0
product_id            0
category_id           0
category_code         0
brand                 0
price                 0
user_id          123661
user_id1              0
dtype: int64

# Drop the 'user_id' column

In [ ]:
df_cleaned.drop('user_id', axis=1, inplace=True)

print(df_cleaned)

DataFrame after dropping the 'user_id' column:
                      event_time             order_id           product_id  \
0        2020-04-24 11:50:39 UTC  2294359932054530048  1515966223509080064
1        2020-04-24 14:37:43 UTC  2294444024058080000  2273948319057179904
2        2020-04-24 19:16:21 UTC  2294584263154070016  2273948316817420032
3        2020-04-26 08:45:57 UTC  2295716521449609984  1515966223509260032
4        2020-04-26 09:33:47 UTC  2295740594749700096  1515966223509100032
...                          ...                  ...                  ...
1036842  2020-05-12 07:16:25 UTC  2353219986312390144  1515966223509100032
1036844  2020-05-12 07:08:37 UTC  2353219986429830144  1515966223509090048
1036845  2020-05-12 09:11:47 UTC  2353219986530500096  2273948222294579968
1036846  2020-05-12 06:43:09 UTC  2353219986656330240  1515966223509289984
1036847  2020-05-12 06:43:09 UTC  2353219986656330240  1515966223510400000

          category_id                     category_code     brand    price  \
0        2.268105e+18                electronics.tablet   samsung   162.01
1        2.268105e+18       electronics.audio.headphone    huawei    77.52
2        2.268105e+18                             other   karcher   217.57
3        2.268105e+18           furniture.kitchen.table   maestro    39.33
4        2.268105e+18            electronics.smartphone     apple  1387.01
...               ...                               ...       ...      ...
1036842  2.268105e+18     computers.peripherals.printer        hp   164.10
1036844  2.268105e+18            electronics.smartphone      oppo   231.23
1036845  2.268105e+18  appliances.kitchen.refrigerators   samsung   520.81
1036846  2.268105e+18                             other   rowenta    55.53
1036847  2.268105e+18                             other  provence     3.91

                 user_id1
0        1591562546354980
1        1591562551077020
2        1591562556744000
3        1591562552740472
4        1591562560991855
...                   ...
1036842  1591562546334687
1036844  1591562556743832
1036845  1591562559084020
1036846  1591562552836755
1036847  1591562551837111

[781306 rows x 8 columns]

<ipython-input-57-7114d79c0c1a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned.drop('user_id', axis=1, inplace=True)

# Rename the 'user_id1' column to 'user_id'

In [ ]:
df_cleaned.rename(columns={'user_id1': 'user_id'}, inplace=True)

print(df_cleaned)

                      event_time             order_id           product_id  \
0        2020-04-24 11:50:39 UTC  2294359932054530048  1515966223509080064
1        2020-04-24 14:37:43 UTC  2294444024058080000  2273948319057179904
2        2020-04-24 19:16:21 UTC  2294584263154070016  2273948316817420032
3        2020-04-26 08:45:57 UTC  2295716521449609984  1515966223509260032
4        2020-04-26 09:33:47 UTC  2295740594749700096  1515966223509100032
...                          ...                  ...                  ...
1036842  2020-05-12 07:16:25 UTC  2353219986312390144  1515966223509100032
1036844  2020-05-12 07:08:37 UTC  2353219986429830144  1515966223509090048
1036845  2020-05-12 09:11:47 UTC  2353219986530500096  2273948222294579968
1036846  2020-05-12 06:43:09 UTC  2353219986656330240  1515966223509289984
1036847  2020-05-12 06:43:09 UTC  2353219986656330240  1515966223510400000

          category_id                     category_code     brand    price  \
0        2.268105e+18                electronics.tablet   samsung   162.01
1        2.268105e+18       electronics.audio.headphone    huawei    77.52
2        2.268105e+18                             other   karcher   217.57
3        2.268105e+18           furniture.kitchen.table   maestro    39.33
4        2.268105e+18            electronics.smartphone     apple  1387.01
...               ...                               ...       ...      ...
1036842  2.268105e+18     computers.peripherals.printer        hp   164.10
1036844  2.268105e+18            electronics.smartphone      oppo   231.23
1036845  2.268105e+18  appliances.kitchen.refrigerators   samsung   520.81
1036846  2.268105e+18                             other   rowenta    55.53
1036847  2.268105e+18                             other  provence     3.91

                  user_id
0        1591562546354980
1        1591562551077020
2        1591562556744000
3        1591562552740472
4        1591562560991855
...                   ...
1036842  1591562546334687
1036844  1591562556743832
1036845  1591562559084020
1036846  1591562552836755
1036847  1591562551837111

[781306 rows x 8 columns]

<ipython-input-59-bbc59563e82b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned.rename(columns={'user_id1': 'user_id'}, inplace=True)

In [ ]:
df_cleaned.isnull().sum()

event_time       0
order_id         0
product_id       0
category_id      0
category_code    0
brand            0
price            0
user_id          0
dtype: int64

In [ ]:
df_cleaned.describe()

           order_id    product_id   category_id          price       user_id
count  7.813060e+05  7.813060e+05  7.813060e+05  781306.000000  7.813060e+05
mean   2.347765e+18  1.714237e+18  2.273913e+18     140.933676  1.591563e+15
std    6.355835e+15  3.333219e+17  2.383928e+16     217.777836  5.788315e+06
min    2.294360e+18  1.515966e+18  2.268105e+18       0.000000  1.591563e+15
25%    2.348779e+18  1.515966e+18  2.268105e+18      13.870000  1.591563e+15
50%    2.348799e+18  1.515966e+18  2.268105e+18      50.900000  1.591563e+15
75%    2.348818e+18  2.273948e+18  2.268105e+18     175.900000  1.591563e+15
max    2.353220e+18  2.344948e+18  2.374499e+18    9606.480000  1.591563e+15

# Convert to xlsx file after removing all null values

In [ ]:
df_cleaned.to_excel('cleaned_file_7.xlsx', index=False)

# Number of Unique User IDs

In [ ]:
unique_user_count = len(df_cleaned['user_id'].unique())

print(unique_user_count)

9997

# Create new user_id1 col since last one was not correct

In [ ]:
import pandas as pd
import numpy as np

start_user_id = 911562541901000
end_user_id =   911562561901000
num_unique_user_ids = 10000
unique_user_ids = np.arange(start_user_id, start_user_id + num_unique_user_ids)

# Create a mapping between order_id and user_id1
order_id_to_user_id1 = df_cleaned.drop_duplicates(subset='order_id').assign(user_id1=np.random.choice(unique_user_ids, len(df_cleaned['order_id'].unique()))).set_index('order_id')['user_id1']

# Map order_id to user_id1
df_cleaned['user_id1'] = df_cleaned['order_id'].map(order_id_to_user_id1)

print("DataFrame with new column user_id1:")
print(df_cleaned)

DataFrame with new column user_id1:
                      event_time             order_id           product_id  \
0        2020-04-24 11:50:39 UTC  2294359932054530048  1515966223509080064
1        2020-04-24 14:37:43 UTC  2294444024058080000  2273948319057179904
2        2020-04-24 19:16:21 UTC  2294584263154070016  2273948316817420032
3        2020-04-26 08:45:57 UTC  2295716521449609984  1515966223509260032
4        2020-04-26 09:33:47 UTC  2295740594749700096  1515966223509100032
...                          ...                  ...                  ...
1036842  2020-05-12 07:16:25 UTC  2353219986312390144  1515966223509100032
1036844  2020-05-12 07:08:37 UTC  2353219986429830144  1515966223509090048
1036845  2020-05-12 09:11:47 UTC  2353219986530500096  2273948222294579968
1036846  2020-05-12 06:43:09 UTC  2353219986656330240  1515966223509289984
1036847  2020-05-12 06:43:09 UTC  2353219986656330240  1515966223510400000

          category_id                     category_code     brand    price  \
0        2.268105e+18                electronics.tablet   samsung   162.01
1        2.268105e+18       electronics.audio.headphone    huawei    77.52
2        2.268105e+18                             other   karcher   217.57
3        2.268105e+18           furniture.kitchen.table   maestro    39.33
4        2.268105e+18            electronics.smartphone     apple  1387.01
...               ...                               ...       ...      ...
1036842  2.268105e+18     computers.peripherals.printer        hp   164.10
1036844  2.268105e+18            electronics.smartphone      oppo   231.23
1036845  2.268105e+18  appliances.kitchen.refrigerators   samsung   520.81
1036846  2.268105e+18                             other   rowenta    55.53
1036847  2.268105e+18                             other  provence     3.91

                  user_id         user_id1
0        1591562546354980  911562541902887
1        1591562551077020  911562541904087
2        1591562556744000  911562541901055
3        1591562552740472  911562541901716
4        1591562560991855  911562541905626
...                   ...              ...
1036842  1591562546334687  911562541905620
1036844  1591562556743832  911562541908690
1036845  1591562559084020  911562541904512
1036846  1591562552836755  911562541906291
1036847  1591562551837111  911562541906291

[781306 rows x 9 columns]

<ipython-input-65-c22976882589>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['user_id1'] = df_cleaned['order_id'].map(order_id_to_user_id1)

In [ ]:
df_cleaned.to_excel('cleaned_file_8.xlsx', index=False)

In [ ]:
df_cleaned.drop('user_id', axis=1, inplace=True)

print(df_cleaned)

                      event_time             order_id           product_id  \
0        2020-04-24 11:50:39 UTC  2294359932054530048  1515966223509080064
1        2020-04-24 14:37:43 UTC  2294444024058080000  2273948319057179904
2        2020-04-24 19:16:21 UTC  2294584263154070016  2273948316817420032
3        2020-04-26 08:45:57 UTC  2295716521449609984  1515966223509260032
4        2020-04-26 09:33:47 UTC  2295740594749700096  1515966223509100032
...                          ...                  ...                  ...
1036842  2020-05-12 07:16:25 UTC  2353219986312390144  1515966223509100032
1036844  2020-05-12 07:08:37 UTC  2353219986429830144  1515966223509090048
1036845  2020-05-12 09:11:47 UTC  2353219986530500096  2273948222294579968
1036846  2020-05-12 06:43:09 UTC  2353219986656330240  1515966223509289984
1036847  2020-05-12 06:43:09 UTC  2353219986656330240  1515966223510400000

          category_id                     category_code     brand    price  \
0        2.268105e+18                electronics.tablet   samsung   162.01
1        2.268105e+18       electronics.audio.headphone    huawei    77.52
2        2.268105e+18                             other   karcher   217.57
3        2.268105e+18           furniture.kitchen.table   maestro    39.33
4        2.268105e+18            electronics.smartphone     apple  1387.01
...               ...                               ...       ...      ...
1036842  2.268105e+18     computers.peripherals.printer        hp   164.10
1036844  2.268105e+18            electronics.smartphone      oppo   231.23
1036845  2.268105e+18  appliances.kitchen.refrigerators   samsung   520.81
1036846  2.268105e+18                             other   rowenta    55.53
1036847  2.268105e+18                             other  provence     3.91

                user_id1
0        911562541902887
1        911562541904087
2        911562541901055
3        911562541901716
4        911562541905626
...                  ...
1036842  911562541905620
1036844  911562541908690
1036845  911562541904512
1036846  911562541906291
1036847  911562541906291

[781306 rows x 8 columns]

<ipython-input-68-20430aff7f70>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned.drop('user_id', axis=1, inplace=True)

In [ ]:
df_cleaned.rename(columns={'user_id1': 'user_id'}, inplace=True)

print(df_cleaned)

                      event_time             order_id           product_id  \
0        2020-04-24 11:50:39 UTC  2294359932054530048  1515966223509080064
1        2020-04-24 14:37:43 UTC  2294444024058080000  2273948319057179904
2        2020-04-24 19:16:21 UTC  2294584263154070016  2273948316817420032
3        2020-04-26 08:45:57 UTC  2295716521449609984  1515966223509260032
4        2020-04-26 09:33:47 UTC  2295740594749700096  1515966223509100032
...                          ...                  ...                  ...
1036842  2020-05-12 07:16:25 UTC  2353219986312390144  1515966223509100032
1036844  2020-05-12 07:08:37 UTC  2353219986429830144  1515966223509090048
1036845  2020-05-12 09:11:47 UTC  2353219986530500096  2273948222294579968
1036846  2020-05-12 06:43:09 UTC  2353219986656330240  1515966223509289984
1036847  2020-05-12 06:43:09 UTC  2353219986656330240  1515966223510400000

          category_id                     category_code     brand    price  \
0        2.268105e+18                electronics.tablet   samsung   162.01
1        2.268105e+18       electronics.audio.headphone    huawei    77.52
2        2.268105e+18                             other   karcher   217.57
3        2.268105e+18           furniture.kitchen.table   maestro    39.33
4        2.268105e+18            electronics.smartphone     apple  1387.01
...               ...                               ...       ...      ...
1036842  2.268105e+18     computers.peripherals.printer        hp   164.10
1036844  2.268105e+18            electronics.smartphone      oppo   231.23
1036845  2.268105e+18  appliances.kitchen.refrigerators   samsung   520.81
1036846  2.268105e+18                             other   rowenta    55.53
1036847  2.268105e+18                             other  provence     3.91

                 user_id
0        911562541902887
1        911562541904087
2        911562541901055
3        911562541901716
4        911562541905626
...                  ...
1036842  911562541905620
1036844  911562541908690
1036845  911562541904512
1036846  911562541906291
1036847  911562541906291

[781306 rows x 8 columns]

<ipython-input-69-bbc59563e82b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned.rename(columns={'user_id1': 'user_id'}, inplace=True)

In [ ]:
df_cleaned.to_excel('cleaned_file_9.xlsx', index=False)

# Count the number of users in the 'user_id' column

In [ ]:
unique_user_count = len(df_cleaned['user_id'].unique())

print(unique_user_count)

10000

# Count the number of rows in the 'category_code' column that start with 'string'

In [ ]:
starts_with_count = df_cleaned[df_cleaned['category_code'].str.startswith('other')].shape[0]

print(starts_with_count)

229868

In [ ]:
unique_user_count = len(df_cleaned['product_id'].unique())

print(unique_user_count)

1967

In [ ]:
unique_user_count = len(df_cleaned['category_id'].unique())

print(unique_user_count)

700

In [ ]:
unique_user_count = len(df_cleaned['order_id'].unique())

print(unique_user_count)

501351

In [ ]:
unique_user_count = len(df_cleaned['user_id'].unique())

print(unique_user_count)

10000